@import url(reset.css);

body {
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	justify-content: center;
}

legend {
	width: 85%;	
	font-size: 30px;
	border: 2px solid black;
	margin: 20px;
	padding: 10px;
	text-align: center;
}

span {
	font-size: 14px;
}

label {
	font-size: 19px;
}

input:focus {
background: lightgrey;
}

textarea {
	height: 40px;
	width: 90%;
}

.buttons {
	position: block-inline;
	margin-left: 35%;
	
}

@media all and (min-width: 600px) {
	html {
		background-size: cover;
	}
}